.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#topbar {
    float: center;
    max-width: 960px;
    margin-left: 10vw;
    margin-bottom: auto;
    margin-top: auto;
    border-bottom-color: #cccccc;
}

#name {
    float: left;
    margin-bottom: auto;
    margin-top: auto;
    background-color: #4aaaa5;
    color: white;
    padding: 2.5vh;
}

#linkbar {
    float: right;
    margin-bottom: auto;
    margin-top: auto;
    background-color: #ffffff;
    color:#777777;
    padding-top: 2.5vh;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

a {
    color: gray;
}

#background_gray {
    float: left;
    width: 100%;
    height: 100%;
    min-height: 94vh;
    margin: auto;
    border-top: 2px;
    border-top-color: #cccccc;  
    background-image: url(../images/Light_Gray_Mottle.jpg);
}

#lowbar {
    float: left;
    margin: auto;
}

#about_content {
    float: center;
    margin-top: 20px;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-width: 960px;
    min-height: 40vh;
    background-color: white;
}

#About_title {
    color:  #4aaaa5;
}

#headshot {
    float: left;
    margin-right: 10px;
}

p {
    float: left;
    clear: left;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#tealline {
    clear: left;
    padding-top: .4vh;
    background-color: #4aaaa5;
}

#brownline {
    clear: left;
    padding-top: 2vh;
    background-color:	#666666;
    text-align: center;
    font-size: small;
}

/* Above this point is generic .css for all three pages.
Below this point is .css that is unique to the 'contact' page. -OR*/

#contactform {
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#submitbutton {
    float: left;
    clear: left;
    background-color: #4aaaa5;
    Color: white;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input {
    float: left;
    clear: left;
    width: 100%;
    margin-bottom: 10px;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

textarea {
    float: left;
    clear: left;
    width: 100%;
    margin-bottom: 8px;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* The below content is unique to the portfolio page.
*/

#portfolio_content {
    position: relative;
    float: center;
    margin-top: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-left: 20px;
    padding-right: 2vw;
    padding-bottom: 2vh;
    width: 960px;
    min-height: 60vh;
    background-color: white;
}

#gallery {
    
}

.gallery_photo {
    float: left;
    width: 200px;
    padding: 20px;
}

.photobanner {
    position: absolute;
    top: 150px;
    left: 20px;
    width: 20vw;
}

.photobanner2 {
    position: absolute;
    top: 150px;
    left: 260px;
    width: 20vw;
}

.photobanner3 {
    position: absolute;
    top: 150px;
    left: 500px;
    width: 20vw;
}

.photobanner4 {
    position: absolute;
    top: 150px;
    left: 740px;
    width: 20vw;
}

h3 span {
    color: #ffffff;
    background-color: #4aaaa5;

}