body, html {
  height: 100%;
  width: 100%;
}

*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
  background-color: #202020;
}

.navbar {
  color: #7C98E2;
}


.caption {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.p {
  margin-top: 10px;
  background-color: #202020;
}

.embed-responsive .card-img-top {
  object-fit: cover;
}

/* HOME-SPECIFIC */

#biocard {
  margin-top: 80px;
  color: #BD9414
}

.elevatorbio {
  color:#BD9414; 
}

#headshot, #elevatorbio {
  padding: 20px;
}

#homefooter {
  margin-top: 31vh;
  width: 100vw;
  background-color:	black;
  text-align: center;
  font-size: medium;
  color: #BD9414;
}


/* PORTFOLIO-SPECIFIC */

#parallax-box{
  display: flex;
  flex-direction: column;
}

#portfoliobackground {
  background: #1B1E23;
  width:100vw;
}

.portfolio {
  margin-top: 80px;
  margin-bottom: 80px;
  color: #F3603E;
}

.portfoliocards {
  display: flex;
  background: #1B1E23;
  color: #F3603E;
}

#portfoliofooter {
  margin-top: 15vh;
  width: 100vw;
  background-color:	black;
  text-align: center;
  font-size: medium;
  color: #F3603E;
}

#br {
  background: #1B1E23;
}


/* CHANNELS-SPECIFIC */

#channelfooter {
  margin-top: 31vh;
  width: 100vw;
  background-color:	black;
  text-align: center;
  font-size: medium;
  color: #C68B85;
}
#channelcard {
  margin-top: 80px;
  color: #C68B85
}